nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
}

nav a {
  margin-right: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
